section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.section-header {
  box-sizing: border-box;
  padding: 20px 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #edefed;
  border: 1px solid #d4d7d3;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
}
.section-body {
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: white;
  border: 1px solid #d4d7d3;
  border-top: none;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  p {
    line-height: 23px;
    a {
      font-weight: bold;
      text-decoration: none;
      color: $brand-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
body {
  background-color: $background-color;
  font-family: $main-font;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
.pharmacy-section {
  .section-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}