$main-font: 'Roboto Condensed', sans-serif;

$brand-color: #ff5a5f;
$second-brand-color: #464645;
$third-brand-color: #313741;
$background-color: #edeff1;
$white: #fff;

$title-color: #25292f;
$input-color: #8491a2;

